html{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
}
.wrapper{
	/*position: relative;*/
	position: absolute;
	width: 1200px;
	height: 700px;
	/*border: 1px solid #fff;*/
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
#Ultraman{
	
	/*display: block;*/
	/*display: none;*/
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	transition: all .5s;
	/*transition: width,height .5s;*/
}
